apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: work-order-service
      app.kubernetes.io/part-of: oficina-platform
      app.kubernetes.io/managed-by: kustomize
